*{
  margin:0;
  padding:0;
  font-family:sans-serif;
box-sizing: border-box;
}
.container{
  width:100%;
  height:680px;
font-family:sans-serif;
background-image: url("https://inclusive-solutions.com/wp-content/uploads/2020/08/75729614.cms_.jpeg");
}


.menu-bar ul{
  display: inline-flex;
  list-style:none;
  color:white;
}
.menu-bar{
  background: black;
  text-align:center;
}
.menu-bar ul li{
  width:120px;
  margin: 15px;
  padding: 15px;
}
.menu-bar ul li a{
  text-decoration: none;
  color: white;
}
.active, .menu-bar ul li:hover{
  background:crimson;
  border-radius:3px;
}
.menu-bar .fa
{
  margin-right:8px;
}
.sub-menu-1
{
  display:none;
}
.menu-bar ul li:hover .sub-menu-1{
  display:block;
  position:absolute;
  background:black;
  margin-top:15px;
  margin-left:-15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
  display:block;
  margin:10px;
  color:crimson;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
  width:150px;
  padding:10px;
  border-bottom: 1px dotted #fff;
  background :transparent;
  border-radius:0;
  text-align:left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
border-bottom:none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
  color:crimson;
}
.fa-angle-right{
  float: right;

}
.sub-menu-2
{
  display:none;
}
.hover-me:hover .sub-menu-2
{
  position: absolute;
  display: block;
  margin-top:-40px;
  margin-left:140px;
  background: black;

}
.container .search{
position:absolute;
  margin:auto;
  top:40;
  left:0;
  bottom:360;
  right:950;
  width:80px;
  height:80px;
  background-color:crimson;
  border-radius:50%;
  z-index: 4;
  box-shadow: 0 0 15px 0 rgba(0, 0 ,0,0.4);
  transition: 1s all;


}
.container .search:hover{
  cursor: pointer;
}
.container .search::before{
  content:  ' ';
  position:absolute;
  margin:auto;
  top:22px;
  left:22px;
  right:0;
  bottom:0;
  width:12px;
  height:2px;
  background-color:#fff;
  transform: rotate(45deg);
  transition: 0.5s all;

}
.container .search::after{
  content:  ' ';
  position:absolute;
  margin:auto;
  top:-5px;
  left:-5px;
  right:0;
  bottom:0;
  width:25px;
  height:25px;
  border-radius: 50%;
  border: 2px  solid #fff;

  transition: 0.5s all;

}


.container input{
  position:absolute;
  margin:auto;
  top:0px;
  left:0px;
  right:0;
  bottom:0;
  width:50px;
  height:50px;
  outline:none;
  border:none;
  background-color:black;
  color:#fff;
  text-shadow: 0 0 10px crimson;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 ,rgba(0,0,0,0.2);
  opacity:0;
  z-index:5;
  letter-spacing:0.1em;
  transition: 1s all;
}
.container input:hover{
  cursor:pointer;
}
.container input:focus{
  cursor:text;
  width:300px;
  opacity:1;
}
.container input:focus ~ .search{
  right: -250px;
  background-color: #151515;
  z-index:6;
}
.container input:focus ~ .search::before{
  top:0;
  left:0;
  width: 25px;
}
.container input:focus ~ .search::after{
  top:0;
  left:0;
  width: 25px;
  height:2px;
  border:none;
  background-color:#fff;
  border-radius:0;
  transform: rotate(-45deg);
  opacity:1;
}
.container input::placeholder{
  color:#fff;
}


#footer{
  padding 7% 15%;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  height:300px;
  top: 50px;
}
.footpara{
  color:black;
  top:600px;
}
#footer{
  top:600px;
}
.foot{
  top:600px;
}
.social-icon{
  top: 200px;
  position:center;
  margin: 20px 20px;
  grid-gap: 60px;
  width:30px;
  display:inline;
  font-size:30px;

}
.middle{
  position:absolute;
  top:50%;
  left:50%;
  transform(-50%, -50%);
}
